.profile__add {
  box-sizing: border-box;
  padding: 12px 0;
  border: 2px solid white;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-color: black;
  margin-left: auto;
  transition: opacity .5s ease;
  flex-shrink: 0;
  color: white;
  background-image: url(../../../images/plus.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.profile__add:hover {
opacity: .6;
cursor: pointer;
}

@media screen and (max-width: 750px) {
  .profile__add {
    width: 100%;
    margin: 35px 0 0 0;
    padding: 15px 0;
    background-size: 16px 16px;
  }
}
