.elements__like {
  position: absolute;
  bottom: 30px;
  right: 20px;
  transition: opacity .5s ease;
  background: url(../../../images/like.svg) no-repeat;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 22px;
  padding: 0;
}

.elements__like:hover {
  opacity: 0.5;
}
