.elements__caption {
  box-sizing: border-box;
  padding: 0 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  height: 78px;
}
/* внутри текстовый элемент,который обрезаем..то есть тектостовому блоку можно задать фикс высоту */
